/* RESET */
*{
    Margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
html{
    font-family: "whitney", Arial, Helvetica, sans-serif;
    font-size: 100%;
}

.container{
    margin: auto;
}

.section{
    display: flex;
    width: 70%;
    margin: auto;
        /* debug */
        height: 400px;
        background-color: red;
}

/* HEADER */
header{

    /* debug */
    background-color: aquamarine;
}


    /* nav-bar */
.flex-nav, container{
    display: flex;
    width: 70%;
    align-items: center; 
            /* debug */
            height: 100px;
}

.logo-container{
    width: 15%;
        
            /* debug */
            /* width: 60px; */
            background-color: brown;
            height: 20px;
}

.link-container-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    width: 70%;
            /* debug */
            background-color: green;
            height: 20px;
}

.link-container-flex li{
    margin-right: 7%;
}

.button-container{
    width: 15%;
    text-align: end;
        
            /* debug */
            background-color: brown;
            height: 20px;
}

.banner, container{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;

             /* debug */
            height: 300px;
            background-color: blue;
}

.header-text{
    width: 40%;
    text-align: center;
    margin-left: 30%;
    padding-top: 30px;
        
            /* debug */
            background-color: orange;
            height: 250px;
}

    /* MAIN */
    
.img{
    background-color: lightblue;
    width:60%;
    height: 400px; 
    }

.text-part{
    background-color: pink;
    width: 40%;
    min-height: 400px;
}

.wave-container {
    display: flex;
    width: 100%;        
    margin: 30px 0;
    min-height: 440px;
    padding: 20px, 0;
         /* debug */
            background-color: rgb(141, 135, 135);
         
}


.fourth{
    background-color: green;
    align-content: center;
    margin: auto, 0;

        /* debug */
         height: 400px;
}


    /* FOOTER */
.black-container{
    background-color: black;
    width: 100%;
    min-height: 640px;
    margin: auto;
    padding: 20px 0;
    }

.bigger{
    background-color: aquamarine;
    width:40%;
    border: 1px solid;
 }
.zero{
    background-color: pink;
    width: 20%;
    border: 1px solid;
}

    /* FOOTER */
.flex-footer{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-between;
                
            /* debug */
            height: 100px;
}
